# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/
*.egg
.eggs/

# Poetry
poetry.lock

# Pyenv
.python-version

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# Custom
.env
.temp*/

